<h1>Lists#index</h1>
<p>Find me in app/views/lists/index.html.erb</p>

<div class="container py-5">
  <%# <h2>Welcome<small class="text-body-secondary"> </h2> %>
   <h1> Movie list:</small></h1>

  <ul class="list-group list-group-flush">
    <% @lists.each do |list| %>
    <li class="list-group-item list-group-item-action"><%= link_to list.name, list_path(list.id), class:"text-decoration-none" %></li>
    <% end %>
  </ul>

   <%= link_to "Create a new list", lists_new_path, class: "btn btn-dark" %>
  <!-- Content here -->
</div>
